/* boncar-frontend/src/assets/main.css */
/* Mengimpor font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Reset CSS sederhana */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f4f1; /* Warna dasar untuk latar belakang konten */
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}